<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseModelContainer" connectionString="metadata=res://*/DB.DatabaseModel.csdl|res://*/DB.DatabaseModel.ssdl|res://*/DB.DatabaseModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Users\everm_000\SkyDrive\Development\Edge\Base\DB\edgedb;password=Edge&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>